<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="profile" routerLinkActive="router-link-active">Home</a>
    <a id = 'profile' style="font-size:smaller;" class="navbar-brand" routerLink="profile" routerLinkActive="router-link-active">Welcome : {{client.firstName}} {{client.lastName}} </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="navbar-nav">
        <!-- <a class="nav-link active" aria-current="page" routerLink="/login" routerLinkActive="router-link-active" >Home</a> -->
        <a id = 'deposit'class="nav-link" routerLink="deposit" routerLinkActive="router-link-active"  >Deposit</a>
        <a id = 'withdraw'class="nav-link" routerLink="withdraw" routerLinkActive="router-link-active">Withdraw</a>
        <a id = 'fundtransfer'class="nav-link" routerLink="transfer" routerLinkActive="router-link-active">Fund Transfer</a>
        <a id = 'balance'class="nav-link" routerLink="balance" routerLinkActive="router-link-active">Balance</a>
        <a id = 'statement'class="nav-link" routerLink="statement" routerLinkActive="router-link-active">Statement</a>
        <a id = 'logout'class="nav-link" routerLink="/logout" routerLinkActive="router-link-active" (click)="onLogout()">Logout</a>
      </div>
  </div>
</nav>
<div class="container">
  <img src = {{client.photoUrl}} width = "200" height = "200">
    <div class="col-md-10 offset-md-2">
        <router-outlet></router-outlet>
    </div>
</div>
